h2 {
    text-align: center;
    color: darkgreen;
}
div {
    text-align: center;
}
#select {
    display: inline-block;
}
div input {
    margin-left: 20px;
    display: inline-block;
    width: 240px;
}
#button {
    margin-left: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
}
hr {
    margin-left: 20px;
    margin-right: 20px;
}
div.pagination a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: rgb(226, 226, 226);
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-left: 2px;
    margin-right: 2px;
}
div.pagination a:hover {
    background-color: rgb(191, 240, 95);
    color: white;
}