h2 {
    text-align: center;
    color: darkgreen;
}
div {
    text-align: center;
}
#select {
    display: inline-block;
}
div input {
    margin-left: 20px;
    display: inline-block;
    width: 240px;
}
#button {
    margin-left: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
}
hr {
    margin-left: 20px;
    margin-right: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
tr:nth-child(odd) {
    border: 3px solid rgb(196, 196, 196);
}
tr:nth-child(odd):hover {
    border : 3px solid darkgreen;
}
div > h2 {
    margin-left: 30px;
    text-align: left;
    margin-right: 100px;
    color: black;
}
td.td1 p {
    margin-left: 30px;
    text-align: left;
    margin-right: 100px;
}
td.td1 strong {
    display: inline-block;
    font-size: 18px;
    color: darkgreen;
}
td.td2 div {
    margin-left: 30px;
    margin-right: 30px;
}
td.td2 button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 20px;
    border-color: rgb(214, 214, 214);
    
}
td.td3 img {
    margin-left: 20px;
    width: 260px;
    height: 180px;
}
#empty {
    display: inline-block;
    width: 80px;
    height: 80px;
}
div.pagination a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: rgb(226, 226, 226);
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-left: 2px;
    margin-right: 2px;
}
div.pagination a:hover {
    background-color: rgb(191, 240, 95);
    color: white;
}