.wrapper, .container, #second-ad, #third-ad {
  width: 40rem;
  margin: 0 auto;
}
h2 {
  padding-left: 3%;
}
ul {
  list-style:none;
}
.container {
  height: 5rem;
  position: relative;
  background-color: rgb(255, 255, 112);
  border-radius: 50px;
  overflow: hidden;
  border-style: outset;
  margin-top: 20px;
}
.slider {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.item {
  width: 100%;
  background-color: rgb(255, 255, 112);
  text-align: center;
  margin-top: 10px;
  margin-left: -4%;
}
.item-link:link {
  text-decoration: none;
  color: black;
}
.item-link:visited {
  text-decoration: none;
  color: black;
}
.container ul {
  -webkit-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
  -o-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
  transition: all 0.25s cubic-bezier(1, .01, .32, 1);
}
#second-ad, #third-ad {
  background: rgb(255, 255, 112);
  height: 5rem;
  border-radius: 50px;
  text-align: center;
  border-style: outset;
  margin-top: 20px;
}
.item-link:link, #second-ad, #third-ad {
  font-weight: bold;
  font-size: 20px;
}