img 
{
    display: block;
    margin: auto;
    width: auto; 
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

#login
{
    text-align: center;
}

#go-login{
    text-align: center;
    padding: 70px;
}

.id-pw {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1rem;
}

#textfield {
    width: 15rem;
    height: 2.2rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid;
}

.btn-set {
    margin: 1.6rem 0;
}

#orange-btn {
    background-color: rgb(255, 145, 0);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: 0;
    font-size: 1rem;
}