.container {
    width: 1000px;
    margin: 0 auto;
    background-image: url('../images/review.jpg');
    background-size: 1000px 700px;
    background-repeat: no-repeat;
    background-position: top center;
}
.container__items {
    margin: auto;
    width: 50%;
    line-height: 220%;
    font-size: 18px;
}
h2 {
    text-align: center;
}
label, input {
    cursor: pointer;
}
#explain {
    height: 200px;
    width: 540px;
    font-size: 18px;
    cursor: text;
}
.btn {
    text-align: center;
    margin-top: -1rem;
}
#yes-btn, #no-btn {
    color: white;
    border: white;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}
#yes-btn {
    background-color: rgb(54, 172, 54);
}
#no-btn {
    background-color: rgb(88, 88, 88);
}